[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asyncpraw = "*"
discord = "*"
openai = "*"
matplotlib = "*"
dropbox = "*"
pykakasi = "*"
python-graphql-client = "*"

[dev-packages]

[requires]
python_version = "3.9"
